.addForm{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
    input{
        padding: 10px;
        border-radius: 12px;
        outline: none;
        border: 1px solid lightgray;
    }
    button{
        width: 150px;
        height: 50px;
        border-radius: 12px;
        background-color:#007BFF;
        border: none;
        color: white;
        cursor: pointer;
        transition: 300ms;
        &:hover{
            background-color: black;
        }
    }
}
table{
    margin: 20px auto;
        td{
            text-align: center;
        }

td{
    border: 1px solid black;
    padding: 11px;

}


}